{% load static %}
<style>
    .submenu ul {
      max-height: 300px; /* Set the maximum height of the list */
      overflow-y: auto; /* Enable vertical scrolling */
    }
  </style>
<div class="header-bg">
    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main" style="background-color:#fa7070">
            <div class="container-fluid">

                <!-- Logo-->
                <div>
                    <a href="index.html" class="logo">
                         <img src="assets/images/logo-light.png" class="logo-lg" alt="" height="26">
                        <img src="assets/images/logo-sm.png" class="logo-sm" alt="" height="28">
                    </a>
                </div>
                <!-- End Logo-->

                <div class="menu-extras topbar-custom navbar p-0">

                    <ul class="mb-0 nav navbar-right ml-auto list-inline">
                        <li class="dropdown">
                            {% if request.user.is_authenticated %}
                            <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                                <!-- <img src="assets/images/users/avatar-1.jpg" alt="user-img" class="rounded-circle"> -->
                                <span class="profile-username">
                                    {{request.user.first_name}} <span class="mdi mdi-chevron-down font-15"></span>
                                </span>
                            </a>
                            {% endif %}
                            <ul class="dropdown-menu">
                                <li><a href="/viewprofile/{{user.id}}" class="dropdown-item"> Profile</a></li>
                                <li><a href={% url 'logout' %} class="dropdown-item"> Logout</a></li>
                            </ul>
                        </li>

                        <li class="menu-item dropdown notification-list list-inline-item">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle nav-link">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </li>

                    </ul>

                </div>
                <!-- end menu-extras -->

                <div class="clearfix"></div>

            </div>
            <!-- end container -->
        </div>
        <!-- end topbar-main -->

        <!-- MENU Start -->
        <div class="navbar-custom">
            <div class="container-fluid">

                <div id="navigation">

                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">

                        <li class="has-submenu">
                            <a href={% url 'dashboard' %}><i class="ti-home"></i> Dashboard</a>
                        </li>
                        {% comment %} <li class="has-submenu">
                            <a href={% url 'leads' %}><i class="ti-folder"></i> Leads</a>
                        </li> {% endcomment %}
                        <li class="has-submenu">
                            <a href="{% url 'leads' %}"><i class="ti-folder"></i> Leads <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                            <ul class="submenu megamenu">
                                <li>
                                    <ul>
                                        <li><a href={% url 'display_flight_bookings' %}>Flight Booking</a></li>
                                        <li><a href={% url 'display_hotel_bookings' %}>Hotel Booking</a></li>
                                        <li><a href={% url 'display_visa_bookings' %}>Visa</a></li>
                                        <li><a href={% url 'display_travelinsurance_bookings' %}>Travel Insurance</a></li>
                                        <li><a href={% url 'display_forex_bookings' %}>Forex</a></li>
                                        <li><a href={% url 'display_sightseen_bookings' %}>Sightseeing</a></li>
                                        <li><a href={% url 'display_travel_bookings' %}>Transport</a></li>
                                        <li><a href={% url 'display_other_bookings' %}>Other</a></li>
                                        <li><a href={% url 'display_package_bookings' %}>Package</a></li>
                                        <li><a href={% url 'display_customizedpackage_bookings' %}>Customized Package</a></li>
                                        <li><a href={% url 'display_bus_bookings' %}>Bus</a></li>
                                        <li><a href={% url 'display_Train_bookings' %}>Train</a></li>
                                        <li><a href={% url 'display_Passport_bookings' %}>Passport</a></li>
                                        <li><a href={% url 'display_Cruise_bookings' %}>Cruise</a></li>
                                        <li><a href={% url 'display_Adventure_bookings' %}>Adventure</a></li>
                                        <li><a href={% url 'display_group_bookings' %}>Group</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href={% url 'user' %}><i class="ti-user"></i> Users</a>
                        </li>

                        <li class="has-submenu">
                            <a href="#"><i class="ti-briefcase"></i> Contact <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                            <ul class="submenu megamenu">
                                <li>
                                    <ul>
                                        <li><a href={% url 'customer' %}>Customer</a></li>
                                        <li><a href={% url 'supplier' %}>Supplier</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="#"><i class="ti-harddrives"></i> Manage <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                            <ul class="submenu megamenu">
                                <li>
                                    <ul>
                                        <li><a href= {% url 'packages' %}>Package</a></li>
                                        <li><a href={% url 'sightseeing' %}>Sightseeing</a></li>
                                        <li><a href={% url 'hotels' %}>Hotel</a></li>
                                        <li><a href={% url 'transport' %}>Transport</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End navigation menu -->
                </div>
                <!-- end #navigation -->
            </div>
            <!-- end container -->
        </div>
        <!-- end navbar-custom -->
    </header>
</div>
    <!-- End Navigation Bar-->

